<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>280312548079-e88chqsrdhl93hb9ngs85vjdnidh7oac.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.280312548079-e88chqsrdhl93hb9ngs85vjdnidh7oac</string>
	<key>API_KEY</key>
	<string>AIzaSyDuH-Y7aVXnGpq8p-Y1iajxiWX62iZmYfQ</string>
	<key>GCM_SENDER_ID</key>
	<string>280312548079</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lilacInfoTech.TidyCar</string>
	<key>PROJECT_ID</key>
	<string>tidycar-ba693</string>
	<key>STORAGE_BUCKET</key>
	<string>tidycar-ba693.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:280312548079:ios:a44ed95a9b228cb844691a</string>
</dict>
</plist>